<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tag</title>
</head>

<body>
    <p>Tags:</p>
    <ul>

        {% for post_tag in post_tags %}

        {% if tag.id == post_tag.tag_id %}

        {% for post in posts %}



        {% if post.id == post_tag.post_id %}


        <li>
            <a href="/users/{{posts.user_id}}/posts/{{post.id}}">{{post.post_title}}</a>
        </li>


        {% endif %}

        {% endfor %}

        {% endif %}

        {% endfor %}
    </ul>


</body>

</html>