<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>

<body>
    <ul>
        <p>{{user.first_name}} {{user.last_name}}</p>
        <img src="{{user.profile_picture}}" alt="Profile Picture N/A">
    </ul>

    <form action="">
        <button formaction="/users/{{user.id}}/edit" formmethod="xz">Edit</button>

        <button formaction="/users/{{user.id}}/delete" formmethod="">Delete</button>
    </form>

</body>

</html>